//-Not working........



//- doctype html
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(http-equiv="X-UA-Compatible", content="IE=edge")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         link(rel="stylesheet", href="/css/404.css")
//-         title #{title}
//-         block styles 
//-     body 
//-         header.main-header 
//-             nav.navbar
//-                 ul.list 
//-                     li.list-item 
//-                         a(href="/") Shop 
//-                     li.list-item 
//-                         a(href="/add-product") Add Products 
//-         block content