<%- include('includesEjs/head.ejs') %>
    </head>

    <body>
        <%- include('includesEjs/navigation.ejs') %>
            <h1>Page Not Found!</h1>

            <%- include('includesEjs/end.ejs') %>