<%- include('includesEjs/head.ejs') %>
    <link rel="stylesheet" href="/404.css">
    </head>

    <body>
        <%- include('includesEjs/navigation.ejs') %>
            <div class="cla">
                <h1>OOPS.....You Lost the Path....!!!!</h1>

                <a href="/">back to home</a>
            </div>

            <%- include('includesEjs/end.ejs') %>