doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/product.css")
        title #{title}
    body 
        header.main-header 
            nav.navbar
                ul.list 
                    li.list-item 
                        a(href="/") Shop 
                    li.list-item 
                        a.active(href="/add-product") Add Products
        main 
            h1 Add the products:)
            form.product-form(action="/add-product",method="post")
                div.form-control 
                    label(for="title") Title:
                    input(type="text",name="title",placeholder="Example:Coke")#Title
                    button(type="submit") Add Product