<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <header class="main-header">
        <nav class="navbar">
            <ul class="list">
                <li class="list-item"><a href="/">Shop</a></li>
                <li class="list-item"><a href="/add-product" class="active">Add-Products</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Add the products:)</h1>
        <form class="product-form" action="/add-product" , method="post">
            <div class="form-control">
                <label for="name">Title:</label>
                <input type="text" name="title" placeholder="Example:Coke" id="Title">
                <button type="submit">Add Product </button>
            </div>


        </form>
    </main>
</body>

</html>