<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <link rel="stylesheet" href="/css/404.css">
</head>

<body>
    <header class="main-header">
        <nav class="navbar">
            <ul class="list">
                <li class="list-item"><a href="/">Shop</a></li>
                <li class="list-item"><a href="/add-product">Add-Products</a></li>
            </ul>
        </nav>
    </header>
    <div class="cla">
        <h1>OOPS.....You Lost the Path....!!!!</h1>

        <a href="/">back to home</a>
    </div>

</body>

</html>